@charset "UTF-8";

body{
	display: flex;
	justify-content: center;
}

.join_box{
	width: 400px;
	height: 300px;
	
	box-sizing: border-box;
	border: 1px solid black;
}

h1{
	margin-top: 30px;
	margin-left: 80px;
}

table {
	margin: 0 auto;
}

tr:nth-child(2) input[type=text]{
	width: 96%;
}

tr:last-child input{
	width: 65px;
	height: 35px;
	
	background-color: rgba(3, 199, 90, 0.12);
	color: #009f47;
	
	border: none;
	
	text-align: center;
}