*{
    margin: 0; padding: 0;
}
.login_box{
text-align: center;
margin: auto;
display: flex;
align-items: center;
justify-content: center;
min-height: 100vh;
flex-direction: column;
}

.login_h1{
    margin-bottom: 50px;
    font-size: 60px;
}

h1 a{
    text-decoration: none;
    color: green;
}


.login_box form{
    background-color: rgb(255, 255, 255);
    padding: 20px;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(168, 188, 143);
    height: 300px;
    width: 500px;   
}

form h2{
    font-size: 40px;
    color:teal;
    margin-top: -10px;
}
 input{
    
    width:300px;
    height: 40px;
    border: none;
    outline: none;
    
}
.input_box{
    margin-top: 40px;
    text-align: center;
}

.login_box form input[type=text],form input[type=password]{
    border: 1px solid rgb(209, 209, 209);
    padding: 10px;
}

.login_box form input[type=text]{
    border-radius: 10px 10px 0 0;
}
.login_box form input[type=password]{
    border-radius: 0 0 10px 10px;
}

.login_box form input[type=submit]{
    margin-top: 30px;
    border-radius: 10px;
    background-color: green;
    color: white;
    font-size: 16px;
    margin-bottom: 10px;
}


.login_box form input[type=text]:hover,.login_box form input[type=password]:hover{
    border: 3px solid rgb(139, 194, 160);
  
}
.join{
    top: 900px;
}
.join a{
    text-decoration: none;
    color: black;
}
.join a:hover{
    text-decoration: underline;
}




